@import "tailwindcss";

.header {
  background-color: #f9f9f9;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.header .containerLeft {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.header .containerLeft img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  box-sizing: border-box;
box-shadow: 6px 7px 4px 0px rgb(0 0 0 / 32%);
}

.containerRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header .containerRight h2 {
  font-size: 2em;
  font-weight: 700;
  margin-right: 100px;
  color: #ff6f00;
  span{
    color: #000000;
  }
  
}

.header .containerRight ul{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-size: 2em;
  margin-right: 100px;
}