<section>
  <h1>Login</h1>
  <form id="LoginForm" method="post" action="">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required />
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Login</button>
  </form>
  <script>
    const form = document.getElementById('LoginForm')
    form?.addEventListener('submit', async e => {
      e.preventDefault()
      const data = Object.fromEntries(new FormData(e.target as HTMLFormElement))
      try {
        const response = await fetch('http://localhost:4000/login/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          credentials: 'include',
          body: JSON.stringify(data),
        })
        if (response.ok) {
          const res = await response.json()
          console.log('Login successful:', res)
          location.reload()
        } else {
          throw new Error('Login failed')
        }
      } catch (err) {
        console.error('Error during login:', err)
        const failedMessage = document.createElement('p')
        failedMessage.textContent = 'Username or password incorrect'
        failedMessage.style.color = 'red'
        failedMessage.style.fontWeight = 'bold'
        failedMessage.style.textAlign = 'center'
        failedMessage.style.marginTop = '10px'
        form.appendChild(failedMessage)
        setTimeout(() => {
          failedMessage.remove()
        }, 5000)
      }
    })
  </script>
</section>

<style>
  section {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 0 autp;
    width: 100%;
    padding: 10px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    gap: 12px;
  }
</style>
