---
import Layout from '../layouts/Layout.astro'
import Header from '../components/astro/header.astro'
import { Image } from 'astro:assets'
import ImageError from '../assets/imgs/404.png'
---

<Layout title="404 - Pagina no encontrada">
  <Header />
  <main class="flex flex-col items-center justify-center text-center px-4 pt-10">
    <div class="relative max-w-full">
      <Image src={ImageError} alt="404 - Pagina no encontrada" inferSize height={400} width={640} />
      <a
        href="/"
        class="absolute top-[80%] w-full left-1/2 transform pt-4 -translate-x-1/2 text-orange-500 hover:underline text-xl md:text-3xl font-bold"
      >
        Volver a inicio
      </a>
    </div>
  </main>
</Layout>
