---
export const prerender = false // No es necesario en el modo 'server'

let counter = 0

if (Astro.cookies.has('tokenLogin')) {
  const res = await fetch('http://localhost:4000/auth/validate', {
    credentials: 'include',
  })
  //show what credentials are being sent
  console.log('credentials', res.credentials)
  console.log('res', res)
  try {
    if (res.ok) {
      const data = await res.json()
      if (data.loggedIn) {
        counter = 100
      }
    }
  } catch {
    let response = await res.json()
    console.log(response.loggedIn)
    counter = 10
  }
  counter = 20
} else {
  try {
    const res = await fetch(`http://localhost:4000/login`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      credentials: 'include',
      body: JSON.stringify({
        username: 'admin',
        password: 'admin123',
      }),
    })
    const result = await res.json()
    if (result.success) {
      Astro.cookies.set('tokenLogin', result.token)
    } else {
      alert('Usuario o contraseña incorrectos')
    }
  } catch (err) {
    console.error(err)
    alert('Error al iniciar sesión')
  }
}
---

<html>
  <h1>Contador = {counter}</h1>

</html>
