---
import { Image } from 'astro:assets'
import imageLogo from '../assets/imgs/logo.webp'
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const btn = document.querySelector('.hamburger')
    const nav = document.querySelector('.containerRight')

    btn.addEventListener('click', () => {
      nav.classList.toggle('open')
    })
  })
</script>

<header class="header">
  <a class="containerLeft" id="containerLeft" href="/" aria-label="Ir a inicio">
    <Image src={imageLogo} alt="Logo de CompuAudio" loading="eager" />
  </a>
  <button class="hamburger" aria-label="Menú" aria-expanded="false"> ☰ </button>
  <nav class="containerRight" aria-label="Menú principal">
    <ul>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="#sectionMap">Contacto</a>
      </li>
      <li>
        <a href="/products" class="products">Productos</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    text-align: center;
    background-color: #f9f9f9;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-inline: 3em;
  }

  .header .containerLeft {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: black;
  }

  .header .containerLeft img {
    width: auto;
    max-width: 80px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .header .containerLeft::after {
    content: 'CompuAudio Pereira';
    display: none;
    width: 0;
    background: #050505;
    font-size: 2rem;
    transition: width 0.4s ease;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .header .containerLeft:hover::after {
    width: 100%;
    display: block;
    color: #ffffff;
    animation: expandWidth 0.4s ease forwards;
  }

  @keyframes expandWidth {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #c55600;
  }

  .containerRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .header .containerRight ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    font-size: 1.4rem;
    color: #000000;
  }

  .header .containerRight ul li {
    list-style: none;
  }

  .header .containerRight ul li a {
    text-decoration: none;
    color: #000000;
  }

  .header .containerRight ul li a:not(.products):after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c55600;
    transition: width 0.3s;
  }

  .header .containerRight ul li a:not(.products):hover::after {
    width: 100%;
    color: #c55600;
  }

  .header .containerRight ul li .products {
    background-color: #c55600;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .header .containerRight ul li .products:hover {
    background-color: #c55500c5;
    color: #ffffff;
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      margin-inline: 1em;
      position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .header .containerLeft::after {
      content: '';
      display: none !important;
      width: 0;
      background: #050505;
      font-size: 2rem;
      transition: width 0.4s ease;
      padding: 10px;
      overflow: hidden;
      white-space: nowrap;
      color: #ffffff;
    }

    .header .containerRight ul li a:not(.products):hover::after {
    width: 0;
    display: none;
    color: #c55600;
  }


    .containerRight {
      display: none;
      width: 100%;
    }

    .containerRight.open {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #f9f9f9;
      padding: 1rem;
      z-index: 9998;
    }

    .header .containerRight ul li a:not(.products):after {
      content: '';
      display: none;
      width: 0;
      height: 2px;
      background: #c55600;
      transition: width 0.3s;
    }

    .containerRight ul {
      flex-direction: column !important;
      gap: 15px !important;
      width: 100%;
      font-size: 1.2rem;
    }

    .containerRight ul li a {
      padding: 0.5rem 1rem;
      width: 100%;
    }
  }
</style>
