---
// export const prerender = false
---

<section>
  <h1>Panel de Administración</h1>
  <p>Bienvenido al panel de administración. Aquí puedes gestionar los productos.</p>
  <ul>
    <li><a href="/admin/products">Gestionar Productos</a></li>
    <li><a href="/admin/orders">Gestionar Pedidos</a></li>
    <li><a href="/admin/users">Gestionar Usuarios</a></li>
  </ul>
  <p><a href="/logout">Cerrar sesión</a></p>
  <script>
    async function userAuth(){
        try {
      const adminAuth = fetch('http://localhost:4000/auth/validate', {
        credentials: 'include',
      })
      const response = await adminAuth
      if (!response.ok) {
        throw new Error('Not authorized')
      }else {
        const data = await response.json()
        return data.username
      }
    } catch (error) {
      console.error('Error validating admin:', error)
    }
    }

    console.log('User Auth:', userAuth())
    userAuth().then(username => {
        if (username) {
            console.log('Usuario autenticado:', username)
        } else {
            console.log('No se pudo autenticar al usuario')
        }
        })
    

  </script>
</section>
