

<section>
  <form>
    <label for="username">
      <span class="usernameName">Nombre de usuario anterior:</span>
      <input type="text" name="username" placeholder="Nombre de usuario" required />
    </label>
    <label for="newUserName">
      <span class="usernameName">Nuevo nombre de usuario:</span>
      <input type="text" name="newUserName" placeholder="Nuevo Nombre de usuario" required />
    </label>
    <label for="password">
      <span class="userPassword">Nueva contraseña:</span>
      <input class="password" type="password" name="password" placeholder="Nueva contraseña" required />
    </label>
    <label for="confirmPassword">
      <span class="userPassword">Confirmar contraseña:</span>
      <input class="password" type="password" name="confirmPassword" placeholder="Confirmar contraseña" required />
      <button type="submit">Actualizar Credenciales</button>
    </label>
    <p id="messageElement" class=""></p>
    <script>
      const form = document.querySelector('form') as HTMLFormElement
      form.addEventListener('submit', async e => {
        e.preventDefault()
        const data = Object.fromEntries(new FormData(e.target as HTMLFormElement))
        if (data.password !== data.confirmPassword) {
          addElement(form, 'Las contraseñas no coinciden', 'error')
          return
        } else {
          try {
            const response = await fetch('http://localhost:4000/update/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              credentials: 'include',
              body: JSON.stringify(data),
            })
            console.log('Enviando datos:', data)
            if (response.ok) {
              const res = await response.json()
              addElement(form, 'Credenciales actualizadas correctamente', 'sucess')
              console.log(res)
            } else {
              throw new Error('Error al actualizar las credenciales')
            }
          } catch (err) {
            addElement(form, 'Error al actualizar las credenciales', 'error')
          }
        }
      })

      function addElement(parent: HTMLElement, text: string, className: string) {
        const element = document.getElementById('messageElement') as HTMLParagraphElement
        element.innerHTML = text
        element?.classList.add(className)

        setTimeout(() => {
          element?.classList.remove(className)
          element.innerHTML = ''
        }, 5000)
      }
    </script>
  </form>

  <style>
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      margin: auto;
      width: 100%;
    }

    .error {
      display: block;
      color: red;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }
    .sucess {
      display: block;
      color: green;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    label {
      margin-bottom: 15px;
    }

    input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
  </style>
</section>
