---
const { title } = Astro.props
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
  <head>
    <!--Meta datos -->
    <meta name="google-site-verification" content="_INDjU3B2pVcXc2gsYHzjpPOI0UK3FGFB1t8cf6uXXo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Descubre tecnología de calidad y precio competitivo en Pereira. Disfruta de soporte técnico experto para tus dispositivos."
    />
    <meta name="keywords" content="producto, landing page, ejemplo" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="CompuAudio Productos de Tecnología de Vanguardia" />
    <meta
      property="og:description"
      content="Descubre tecnología de calidad y precio competitivo en Pereira. Disfruta de soporte técnico experto para tus dispositivos."
    />
    <meta property="og:image" content="../assets/imgs/logo.webp" />
    <meta property="og:url" content="https://tusitio.com/" />
    <!--Poner domino al final -->
    <meta property="og:type" content="website" />
    <!--iconos en distintos formatos para los dispositivos -->
    <link rel="icon" type="image/png" href="/favicon/logoCompuAudio-Copy.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <!--importacion de las fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: #f9f9f9;
  }
</style>
