---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/header.astro'
import editProduct from '../../components/admin/editProduct.astro'
import addProduct from '../../components/admin/addProduct.astro'
import getAllProducts from '../../components/admin/getAllProducts.astro'
let renderComponents = 'all'
---

<Layout title="Panel Admin - Gestión de Productos" description="Administración de productos">
  <Header title="Panel de Administración" description="Gestiona los productos y usuarios de tu tienda" />
  <section>
    <div class="titleContainer">
      <h1>Gestion de productos</h1>
      <p>Aqui podras editar, agregar o eliminar algun producto</p>
    </div>
    <div class="productsAdminContainer">
      <div class="buttonsContainer">
        <button class="buttonEdit">Editar Producto {(renderComponents = 'edit')}</button>
        <button class="buttonAdd">Agregar Producto {(renderComponents = 'edit')}</button>
        {renderComponents === 'all' ? <getAllProducts client:idle /> : ''}
        {renderComponents === 'edit' ? <editProduct client:idle /> : ''}
        {renderComponents === 'add' ? <addProduct client:idle /> : ''}
      </div>
    </div>
  </section>
</Layout>
