---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/header.astro'
import EditProducts from '../../components/admin/editProduct.astro'
import AddProducts from '../../components/admin/addProduct.astro'
import GetAllProducts from '../../components/admin/getAllProducts.astro'
let renderComponents = 'all'
---

<Layout title="Panel Admin - Gestión de Productos" description="Administración de productos">
  <Header title="Panel de Administración" description="Gestiona los productos y usuarios de tu tienda" />
  <section>
    <div class="titleContainer">
      <h1>Gestion de productos</h1>
      <p>Aqui podras editar, agregar o eliminar algun producto</p>
    </div>
    <div class="productsAdminContainer">
      <div class="buttonsContainer">
        <GetAllProducts />
        <EditProducts />
        <AddProducts />
      </div>
    </div>
  </section>
</Layout>
